/*自定义的表格样式, 扩展彭总设计的样式等*/
.table_list_main table tr:hover{ background-color:#d5e9f4; } 
.table_title{color:#333333;}
.table_list_main td { color: inherit; }
.btn-save{background-color: #007ebf;}
.tr_off{color:#464646;}
.tr_on{color:#000;}

.backlink  { text-decoration: none; color: #727272;}
.backlink:hover { text-decoration: underline; color: #000;}

.mybutton {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:12px/normal sans-serif;
    
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.mybutton:hover,
.mybutton:focus,
.mybutton:active,
.mybutton.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.mybutton:active,
.mybutton.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.mybutton::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.text-style{
	border:1px solid #cfcfcf;
	border:1px solid #cfcfcf \9;/*IE*/
	width:400px;
	height:30px;/*非IE高度*/
	height:30px \9;/*IE高度*/
	padding-left:5px; /*all*/
	line-height:30px \9;/*IE*/
	-moz-border-radius:4px;/*Firefox*/
	-webkit-border-radius:4px;/*Safari和Chrome*/
	border-radius:4px;/*IE9+*/
	background-color:white;
	outline:none;
}
.text-style:focus{/*IE8+*/
	border-color:#78BAED;
	outline:1px solid #78BAED;/*chrome*/
}


.page_hint_div{
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color:#fefeff;	
	min-height:20px;
	line-height:20px;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #767676;
}